.navbarHeader {
    display: flex;
    justify-content: center;
    background-color: #4618ac;
    padding: 0 20px;
    width: 100%;
}

.navbarWrap {
    width: 100%;
    max-width: 950px;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.navbarWrapFirstSection {
    display: flex;
    width: 100%;
    gap: 20px;
}

.navbarLogoWrap {
    display: flex;
    align-items: center;

    .navbarLogo {
        width: 100%;
        max-width: 155px;
    }
}

.navbarSearchFormWrap {
  
    display: flex;
    flex: 0 1 350px;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    border: 1px solid #ffffff;

    input {
        display: flex;
        align-items: center;
        font-weight: 800;
        line-height: 1;
        color: #fff;
        background: rgba(0, 0, 0, 0);
        width: 100%;
        min-height: 55px;
        border: none;
    }

    input:focus {
        outline: none
    }


}

.navbarSearchForm {
    width: 100%;
}


.navbarLangSelectorWrap {
    display: flex;
    align-items: center;
    gap: 5px;

    .navbarLangIcon {
        display: flex;
        align-items: center;

        img {
            width: 16px;
            height: 16px;
        }
    }

    .navbarLangSelector {

        display: flex;
        gap: 7px;

        .separator {
            border-left: 1px solid #fff;
        }

    }

    .navbarLangSelector:hover {
        color: #fad318;
        cursor: pointer;
    }
  
}

.navbarControls {
    display: flex;
    align-items: center;
    gap: 15px;

    .navbarControlsUserImage {
        width: 31px;
        height: 31px;
        border-radius: 99px;
        border: 1px solid #c5b1f1;
    }
}


/* MEDIA */
@media (max-width: 1200px) {
    .navbarWrap {
        max-width: 950px;
    }
}

/* MISC */
.cleanButton {
    background: none;
    border: none;
    cursor: pointer;
}