.resultsItem {
	display: flex;
	flex: 0 1 23%;
    flex-direction: column;
	border: 1px solid #63e3c2;
}

/* LOGO */
.resultsItemLogoWrap {
	position: relative;

	.resultsItemLogo {
		width: 100%;
		max-width: 250px;
	}

}

.resultsItemCashbackRibbon {
	position: absolute;
    bottom: 35px;
    background-color: #63e3c2;
    color: #1f0a4d;
    padding: 7px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    span {
    	font-size: 12px;
    	font-weight: 800;
    	text-transform: uppercase;
    }
}

.resultsItemPlatform {
	position: absolute;
    bottom: 4px;
    background: rgba(0,0,0,.55);
    width: 100%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    span {
    	font-size: 10px;
    	font-weight: 800;
    }

    img {
    	width: 16px;
    	height: 16px;
    }
}


/* INFO */
.resultsItemInfoWrap {
	display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
	padding: 10px;
}

.resultsItemTitle {
	font-weight: 800;
	font-size: 12px;
	margin-bottom: 8px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	line-height: 1.5;
}

.resultsItemLocation {
	font-weight: 800;
	font-size: 12px;
	color: #23c299;
    text-transform: uppercase;
    white-space: nowrap;
}

.resultsItemDiscountedPrice {
	font-weight: 800;
	font-size: 12px;
	color: #b3aac9;

	.resultsItemDiscountedPriceLineThrough {
		text-decoration: line-through;
	}

	.resultsItemDiscountedPricePercent {
		color: #84e916;
	}
}

.resultsItemPrice {
	font-weight: 800;
	font-size: 22px;
	margin-top: 5px;
}

.resultsItemCashback {
	font-weight: 800;
	font-size: 12px;
	color: #84e916;
}

.resultsItemWishlisted {
	display: flex;
    align-items: center;
    gap: 5px;
	font-size: 12px;
	font-weight: 600;
	color: #bcb6ca;
}